{%- if section.settings.desktop_navigation_layout == 'condensed' -%}
  {%- assign is_condensed = true -%}
{%- else -%}
  {%- assign is_condensed = false -%}
{%- endif -%}

{%- assign downcase_title = mega_menu.title | downcase | strip -%}
{%- assign mega_menu_block = nil -%}
{%- assign mega_menu_type = 'old' -%}

{%- for block in section.blocks -%}
  {%- assign downcase_block_menu_item = block.settings.menu_item | downcase | strip -%}

  {%- if downcase_block_menu_item == downcase_title -%}
    {%- assign mega_menu_block = block -%}
    {%- assign mega_menu_type = block.type -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<div id="{{ index }}" class="mega-menu {% if is_floating %}mega-menu--floating{% endif %}" data-type="menu" aria-hidden="true" role="list" {{ mega_menu_block.shopify_attributes }}>
  {%- capture mega_menu_inner -%}
    {% if mega_menu_type == 'old' %}
      {%- assign should_center = false -%}
  
      {%- unless is_floating -%}
        {%- assign should_center = true -%}
      {%- endunless -%}
  
      {%- assign has_two_images = false -%}
  
      {%- if mega_menu_block.settings.image_1 != blank and mega_menu_block.settings.image_2 != blank -%}
        {%- assign has_two_images = true -%}
      {%- endif -%}
  
      {%- assign mega_menu_classes = '' -%}
  
      {%- if should_center and mega_menu.links.size <= 4 -%}
        {%- if has_two_images -%}
          {%- assign mega_menu_classes = 'mega-menu__inner--center' -%}
        {%- else -%}
          {%- assign mega_menu_classes = 'mega-menu__inner--center mega-menu__inner--large' -%}
        {%- endif -%}
      {%- endif -%}
  
      <div class="mega-menu__inner mega-menu__old {{ mega_menu_classes }}">
        {%- if mega_menu.links.size > 0 -%}
          {%- capture mega_menu_columns -%}
            {%- for link in mega_menu.links -%}
              <div class="mega-menu__column">
                <a href="{{ link.url }}" class="mega-menu__title heading">{{ link.title }}</a>
  
                {%- if link.links.size > 0 -%}
                  <ul class="mega-menu__linklist" role="list">
                    {%- for sub_link in link.links -%}
                      <li class="mega-menu__item">
                        <a href="{{ sub_link.url }}" class="mega-menu__link link">{{ sub_link.title }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>
            {%- endfor -%}
          {%- endcapture -%}
  
          {%- if is_floating -%}
            {%- comment -%}
            IMPLEMENTATION NOTE: 230 is the size in pixel of a given column (it's 170 + 60 of margin). In order to avoid setting it in JS or
                                 having very complex HTML structure to achieve positioning, I used this trick.
            {%- endcomment -%}
            <div class="mega-menu__column-list" style="width: {{ 230 | times: mega_menu.links.size }}px">
              {{- mega_menu_columns -}}
            </div>
          {%- else -%}
            {{- mega_menu_columns -}}
          {%- endif -%}
        {%- endif -%}
  
        {%- if mega_menu_block.settings.image_1 != blank -%}
          <a href="{{ mega_menu_block.settings.image_1_link | default: '#' }}" class="mega-menu__promo">
            <div class="mega-menu__image-wrapper">
              <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: mega_menu_block.settings.image_1.aspect_ratio }}%">
                <img class="lazyload image--fade-in" data-src="{{ mega_menu_block.settings.image_1 | img_url: '550x' }}" alt="{{ mega_menu_block.settings.image_1.alt | escape }}">
              </div>
            </div>
  
            <span class="mega-menu__image-heading heading h4">{{ mega_menu_block.settings.image_1_heading | escape }}</span>
            <p class="mega-menu__image-text">{{ mega_menu_block.settings.image_1_text | escape }}</p>
          </a>
        {%- endif -%}
  
        {%- if mega_menu_block.settings.image_2 != blank -%}
          <a href="{{ mega_menu_block.settings.image_2_link | default: '#' }}" class="mega-menu__promo">
            <div class="mega-menu__image-wrapper">
              <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: mega_menu_block.settings.image_2.aspect_ratio }}%">
                <img class="lazyload image--fade-in" data-src="{{ mega_menu_block.settings.image_2 | img_url: '550x' }}" alt="{{ mega_menu_block.settings.image_2.alt | escape }}">
              </div>
            </div>
  
            <span class="mega-menu__image-heading heading h4">{{ mega_menu_block.settings.image_2_heading | escape }}</span>
            <p class="mega-menu__image-text">{{ mega_menu_block.settings.image_2_text | escape }}</p>
          </a>
        {%- endif -%}
      </div>
    {% elsif mega_menu_type == 'new_mega_menu' %}
      
      {%- assign mega_menu_classes = 'mega-menu__inner--center' -%}
        
      <div class="mega-menu__inner-wrapper {% if mega_menu_block.settings.menu_featured_image != blank %}has-featured-image{% endif %}">
        <div class="mega-menu__inner mega-menu__new {{ mega_menu_classes }}">
        {%- if mega_menu_block.settings.image_1_heading != blank -%}
          <a href="{{ mega_menu_block.settings.image_1_link | default: '#' }}" class="mega-menu__promo">
            <div class="mega-menu__image-wrapper">
              {%- if mega_menu_block.settings.image_1_svg == 'piggies_t_cages' -%}
                {%- render 'icon-piggies_t_cages' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'piggies_b_cages' -%}
                {%- render 'icon-piggies_b_cages' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'piggies_w_cages' -%}
                {%- render 'icon-piggies_w_cages' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'piggies_c_supplies' -%}
                {%- render 'icon-piggies_c_supplies' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'piggies_f_linears' -%}
                {%- render 'icon-piggies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'piggies_accessaries' -%}
                {%- render 'icon-piggies_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'piggies_w_accessaries' -%}
                {%- render 'icon-piggies_w_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'piggies_o_pen' -%}
                {%- render 'icon-piggies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'piggies_c_cages' -%}
                {%- render 'icon-piggies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'piggies_food' -%}
                {%- render 'icon-piggies_food' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'piggies_grooming' -%}
                {%- render 'icon-piggies_grooming' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'bunnies_c_cages' -%}
                {%- render 'icon-bunnies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'bunnies_f_linears' -%}
                {%- render 'icon-bunnies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'bunnies_f_accessaries' -%}
                {%- render 'icon-bunnies_f_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'bunnies_food' -%}
                {%- render 'icon-bunnies_food' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'bunnies_o_pen' -%}
                {%- render 'icon-bunnies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'care_piggies' -%}
                {%- render 'icon-care_piggies' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'care_bunnies' -%}
                {%- render 'icon-care_bunnies' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'resource_vets' -%}
                {%- render 'icon-resource_vets' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'resource_boarding' -%}
                {%- render 'icon-resource_boarding' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'resource_rescue_list' -%}
                {%- render 'icon-resource_rescue_list' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'resource_care_sheet' -%}
                {%- render 'icon-resource_care_sheet' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'resource_games' -%}
                {%- render 'icon-resource_games' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'resource_videos' -%}
                {%- render 'icon-resource_videos' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'krew_meet' -%}
                {%- render 'icon-krew_meet' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'krew_story' -%}
                {%- render 'icon-krew_story' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'krew_about' -%}
                {%- render 'icon-krew_about' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'christmas' -%}
                {%- render 'icon-christmas_kart' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'winter_wonderland' -%}
                {%- render 'icon-nav-christmas' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == 'cheery_christmas' -%}
                {%- render 'icon-christmas_sack' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == '20_under' -%}
                {%- render 'icon-20_under' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == '50_under' -%}
                {%- render 'icon-50_under' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == '100_under' -%}
                {%- render 'icon-100_under' -%}
              {%- elsif mega_menu_block.settings.image_1_svg == '100_over' -%}
                {%- render 'icon-100_over' -%}
              {%- endif -%}
            </div>
  
            <span class="mega-menu__image-heading heading h4">{{ mega_menu_block.settings.image_1_heading | escape }}</span>
          </a>
        {%- endif -%}

        {%- if mega_menu_block.settings.image_2_heading != blank -%}
          <a href="{{ mega_menu_block.settings.image_2_link | default: '#' }}" class="mega-menu__promo">
            <div class="mega-menu__image-wrapper">
              {%- if mega_menu_block.settings.image_2_svg == 'piggies_t_cages' -%}
                {%- render 'icon-piggies_t_cages' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'piggies_b_cages' -%}
                {%- render 'icon-piggies_b_cages' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'piggies_w_cages' -%}
                {%- render 'icon-piggies_w_cages' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'piggies_c_supplies' -%}
                {%- render 'icon-piggies_c_supplies' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'piggies_f_linears' -%}
                {%- render 'icon-piggies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'piggies_accessaries' -%}
                {%- render 'icon-piggies_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'piggies_w_accessaries' -%}
                {%- render 'icon-piggies_w_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'piggies_o_pen' -%}
                {%- render 'icon-piggies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'piggies_c_cages' -%}
                {%- render 'icon-piggies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'piggies_food' -%}
                {%- render 'icon-piggies_food' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'piggies_grooming' -%}
                {%- render 'icon-piggies_grooming' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'bunnies_c_cages' -%}
                {%- render 'icon-bunnies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'bunnies_f_linears' -%}
                {%- render 'icon-bunnies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'bunnies_f_accessaries' -%}
                {%- render 'icon-bunnies_f_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'bunnies_food' -%}
                {%- render 'icon-bunnies_food' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'bunnies_o_pen' -%}
                {%- render 'icon-bunnies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'care_piggies' -%}
                {%- render 'icon-care_piggies' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'care_bunnies' -%}
                {%- render 'icon-care_bunnies' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'resource_vets' -%}
                {%- render 'icon-resource_vets' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'resource_boarding' -%}
                {%- render 'icon-resource_boarding' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'resource_rescue_list' -%}
                {%- render 'icon-resource_rescue_list' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'resource_care_sheet' -%}
                {%- render 'icon-resource_care_sheet' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'resource_games' -%}
                {%- render 'icon-resource_games' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'resource_videos' -%}
                {%- render 'icon-resource_videos' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'krew_meet' -%}
                {%- render 'icon-krew_meet' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'krew_story' -%}
                {%- render 'icon-krew_story' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'krew_about' -%}
                {%- render 'icon-krew_about' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'christmas' -%}
                {%- render 'icon-christmas_kart' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'winter_wonderland' -%}
                {%- render 'icon-nav-christmas' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == 'cheery_christmas' -%}
                {%- render 'icon-christmas_sack' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == '20_under' -%}
                {%- render 'icon-20_under' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == '50_under' -%}
                {%- render 'icon-50_under' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == '100_under' -%}
                {%- render 'icon-100_under' -%}
              {%- elsif mega_menu_block.settings.image_2_svg == '100_over' -%}
                {%- render 'icon-100_over' -%}
              {%- endif -%}
            </div>
  
            <span class="mega-menu__image-heading heading h4">{{ mega_menu_block.settings.image_2_heading | escape }}</span>
          </a>
        {%- endif -%}

        {%- if mega_menu_block.settings.image_3_heading != blank -%}
          <a href="{{ mega_menu_block.settings.image_3_link | default: '#' }}" class="mega-menu__promo">
            <div class="mega-menu__image-wrapper">
              {%- if mega_menu_block.settings.image_3_svg == 'piggies_t_cages' -%}
                {%- render 'icon-piggies_t_cages' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'piggies_b_cages' -%}
                {%- render 'icon-piggies_b_cages' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'piggies_w_cages' -%}
                {%- render 'icon-piggies_w_cages' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'piggies_c_supplies' -%}
                {%- render 'icon-piggies_c_supplies' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'piggies_f_linears' -%}
                {%- render 'icon-piggies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'piggies_accessaries' -%}
                {%- render 'icon-piggies_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'piggies_w_accessaries' -%}
                {%- render 'icon-piggies_w_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'piggies_o_pen' -%}
                {%- render 'icon-piggies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'piggies_c_cages' -%}
                {%- render 'icon-piggies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'piggies_food' -%}
                {%- render 'icon-piggies_food' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'piggies_grooming' -%}
                {%- render 'icon-piggies_grooming' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'bunnies_c_cages' -%}
                {%- render 'icon-bunnies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'bunnies_f_linears' -%}
                {%- render 'icon-bunnies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'bunnies_f_accessaries' -%}
                {%- render 'icon-bunnies_f_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'bunnies_food' -%}
                {%- render 'icon-bunnies_food' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'bunnies_o_pen' -%}
                {%- render 'icon-bunnies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'care_piggies' -%}
                {%- render 'icon-care_piggies' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'care_bunnies' -%}
                {%- render 'icon-care_bunnies' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'resource_vets' -%}
                {%- render 'icon-resource_vets' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'resource_boarding' -%}
                {%- render 'icon-resource_boarding' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'resource_rescue_list' -%}
                {%- render 'icon-resource_rescue_list' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'resource_care_sheet' -%}
                {%- render 'icon-resource_care_sheet' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'resource_games' -%}
                {%- render 'icon-resource_games' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'resource_videos' -%}
                {%- render 'icon-resource_videos' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'krew_meet' -%}
                {%- render 'icon-krew_meet' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'krew_story' -%}
                {%- render 'icon-krew_story' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'krew_about' -%}
                {%- render 'icon-krew_about' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'christmas' -%}
                {%- render 'icon-christmas_kart' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'winter_wonderland' -%}
                {%- render 'icon-nav-christmas' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == 'cheery_christmas' -%}
                {%- render 'icon-christmas_sack' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == '20_under' -%}
                {%- render 'icon-20_under' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == '50_under' -%}
                {%- render 'icon-50_under' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == '100_under' -%}
                {%- render 'icon-100_under' -%}
              {%- elsif mega_menu_block.settings.image_3_svg == '100_over' -%}
                {%- render 'icon-100_over' -%}
              {%- endif -%}
            </div>
  
            <span class="mega-menu__image-heading heading h4">{{ mega_menu_block.settings.image_3_heading | escape }}</span>
          </a>
        {%- endif -%}

        {%- if mega_menu_block.settings.image_4_heading != blank -%}
          <a href="{{ mega_menu_block.settings.image_4_link | default: '#' }}" class="mega-menu__promo">
            <div class="mega-menu__image-wrapper">
              {%- if mega_menu_block.settings.image_4_svg == 'piggies_t_cages' -%}
                {%- render 'icon-piggies_t_cages' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'piggies_b_cages' -%}
                {%- render 'icon-piggies_b_cages' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'piggies_w_cages' -%}
                {%- render 'icon-piggies_w_cages' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'piggies_c_supplies' -%}
                {%- render 'icon-piggies_c_supplies' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'piggies_f_linears' -%}
                {%- render 'icon-piggies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'piggies_accessaries' -%}
                {%- render 'icon-piggies_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'piggies_w_accessaries' -%}
                {%- render 'icon-piggies_w_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'piggies_o_pen' -%}
                {%- render 'icon-piggies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'piggies_c_cages' -%}
                {%- render 'icon-piggies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'piggies_food' -%}
                {%- render 'icon-piggies_food' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'piggies_grooming' -%}
                {%- render 'icon-piggies_grooming' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'bunnies_c_cages' -%}
                {%- render 'icon-bunnies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'bunnies_f_linears' -%}
                {%- render 'icon-bunnies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'bunnies_f_accessaries' -%}
                {%- render 'icon-bunnies_f_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'bunnies_food' -%}
                {%- render 'icon-bunnies_food' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'bunnies_o_pen' -%}
                {%- render 'icon-bunnies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'care_piggies' -%}
                {%- render 'icon-care_piggies' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'care_bunnies' -%}
                {%- render 'icon-care_bunnies' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'resource_vets' -%}
                {%- render 'icon-resource_vets' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'resource_boarding' -%}
                {%- render 'icon-resource_boarding' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'resource_rescue_list' -%}
                {%- render 'icon-resource_rescue_list' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'resource_care_sheet' -%}
                {%- render 'icon-resource_care_sheet' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'resource_games' -%}
                {%- render 'icon-resource_games' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'resource_videos' -%}
                {%- render 'icon-resource_videos' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'krew_meet' -%}
                {%- render 'icon-krew_meet' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'krew_story' -%}
                {%- render 'icon-krew_story' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'krew_about' -%}
                {%- render 'icon-krew_about' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'christmas' -%}
                {%- render 'icon-christmas_kart' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'winter_wonderland' -%}
                {%- render 'icon-nav-christmas' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == 'cheery_christmas' -%}
                {%- render 'icon-christmas_sack' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == '20_under' -%}
                {%- render 'icon-20_under' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == '50_under' -%}
                {%- render 'icon-50_under' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == '100_under' -%}
                {%- render 'icon-100_under' -%}
              {%- elsif mega_menu_block.settings.image_4_svg == '100_over' -%}
                {%- render 'icon-100_over' -%}
              {%- endif -%}
            </div>
  
            <span class="mega-menu__image-heading heading h4">{{ mega_menu_block.settings.image_4_heading | escape }}</span>
          </a>
        {%- endif -%}

        {%- if mega_menu_block.settings.image_5_heading != blank -%}
          <a href="{{ mega_menu_block.settings.image_5_link | default: '#' }}" class="mega-menu__promo">
            <div class="mega-menu__image-wrapper">
              {%- if mega_menu_block.settings.image_5_svg == 'piggies_t_cages' -%}
                {%- render 'icon-piggies_t_cages' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'piggies_b_cages' -%}
                {%- render 'icon-piggies_b_cages' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'piggies_w_cages' -%}
                {%- render 'icon-piggies_w_cages' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'piggies_c_supplies' -%}
                {%- render 'icon-piggies_c_supplies' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'piggies_f_linears' -%}
                {%- render 'icon-piggies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'piggies_accessaries' -%}
                {%- render 'icon-piggies_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'piggies_w_accessaries' -%}
                {%- render 'icon-piggies_w_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'piggies_o_pen' -%}
                {%- render 'icon-piggies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'piggies_c_cages' -%}
                {%- render 'icon-piggies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'piggies_food' -%}
                {%- render 'icon-piggies_food' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'piggies_grooming' -%}
                {%- render 'icon-piggies_grooming' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'bunnies_c_cages' -%}
                {%- render 'icon-bunnies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'bunnies_f_linears' -%}
                {%- render 'icon-bunnies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'bunnies_f_accessaries' -%}
                {%- render 'icon-bunnies_f_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'bunnies_food' -%}
                {%- render 'icon-bunnies_food' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'bunnies_o_pen' -%}
                {%- render 'icon-bunnies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'care_piggies' -%}
                {%- render 'icon-care_piggies' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'care_bunnies' -%}
                {%- render 'icon-care_bunnies' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'resource_vets' -%}
                {%- render 'icon-resource_vets' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'resource_boarding' -%}
                {%- render 'icon-resource_boarding' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'resource_rescue_list' -%}
                {%- render 'icon-resource_rescue_list' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'resource_care_sheet' -%}
                {%- render 'icon-resource_care_sheet' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'resource_games' -%}
                {%- render 'icon-resource_games' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'resource_videos' -%}
                {%- render 'icon-resource_videos' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'krew_meet' -%}
                {%- render 'icon-krew_meet' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'krew_story' -%}
                {%- render 'icon-krew_story' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'krew_about' -%}
                {%- render 'icon-krew_about' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'christmas' -%}
                {%- render 'icon-christmas_kart' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'winter_wonderland' -%}
                {%- render 'icon-nav-christmas' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == 'cheery_christmas' -%}
                {%- render 'icon-christmas_sack' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == '20_under' -%}
                {%- render 'icon-20_under' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == '50_under' -%}
                {%- render 'icon-50_under' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == '100_under' -%}
                {%- render 'icon-100_under' -%}
              {%- elsif mega_menu_block.settings.image_5_svg == '100_over' -%}
                {%- render 'icon-100_over' -%}
              {%- endif -%}
            </div>
  
            <span class="mega-menu__image-heading heading h4">{{ mega_menu_block.settings.image_5_heading | escape }}</span>
          </a>
        {%- endif -%}

        {%- if mega_menu_block.settings.image_6_heading != blank -%}
          <a href="{{ mega_menu_block.settings.image_6_link | default: '#' }}" class="mega-menu__promo">
            <div class="mega-menu__image-wrapper">
              {%- if mega_menu_block.settings.image_6_svg == 'piggies_t_cages' -%}
                {%- render 'icon-piggies_t_cages' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'piggies_b_cages' -%}
                {%- render 'icon-piggies_b_cages' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'piggies_w_cages' -%}
                {%- render 'icon-piggies_w_cages' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'piggies_c_supplies' -%}
                {%- render 'icon-piggies_c_supplies' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'piggies_f_linears' -%}
                {%- render 'icon-piggies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'piggies_accessaries' -%}
                {%- render 'icon-piggies_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'piggies_w_accessaries' -%}
                {%- render 'icon-piggies_w_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'piggies_o_pen' -%}
                {%- render 'icon-piggies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'piggies_c_cages' -%}
                {%- render 'icon-piggies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'piggies_food' -%}
                {%- render 'icon-piggies_food' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'piggies_grooming' -%}
                {%- render 'icon-piggies_grooming' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'bunnies_c_cages' -%}
                {%- render 'icon-bunnies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'bunnies_f_linears' -%}
                {%- render 'icon-bunnies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'bunnies_f_accessaries' -%}
                {%- render 'icon-bunnies_f_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'bunnies_food' -%}
                {%- render 'icon-bunnies_food' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'bunnies_o_pen' -%}
                {%- render 'icon-bunnies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'care_piggies' -%}
                {%- render 'icon-care_piggies' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'care_bunnies' -%}
                {%- render 'icon-care_bunnies' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'resource_vets' -%}
                {%- render 'icon-resource_vets' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'resource_boarding' -%}
                {%- render 'icon-resource_boarding' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'resource_rescue_list' -%}
                {%- render 'icon-resource_rescue_list' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'resource_care_sheet' -%}
                {%- render 'icon-resource_care_sheet' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'resource_games' -%}
                {%- render 'icon-resource_games' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'resource_videos' -%}
                {%- render 'icon-resource_videos' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'krew_meet' -%}
                {%- render 'icon-krew_meet' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'krew_story' -%}
                {%- render 'icon-krew_story' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'krew_about' -%}
                {%- render 'icon-krew_about' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'christmas' -%}
                {%- render 'icon-christmas_kart' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'winter_wonderland' -%}
                {%- render 'icon-nav-christmas' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == 'cheery_christmas' -%}
                {%- render 'icon-christmas_sack' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == '20_under' -%}
                {%- render 'icon-20_under' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == '50_under' -%}
                {%- render 'icon-50_under' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == '100_under' -%}
                {%- render 'icon-100_under' -%}
              {%- elsif mega_menu_block.settings.image_6_svg == '100_over' -%}
                {%- render 'icon-100_over' -%}
              {%- endif -%}
            </div>
  
            <span class="mega-menu__image-heading heading h4">{{ mega_menu_block.settings.image_6_heading | escape }}</span>
          </a>
        {%- endif -%}

        {%- if mega_menu_block.settings.image_7_heading != blank -%}
          <a href="{{ mega_menu_block.settings.image_7_link | default: '#' }}" class="mega-menu__promo">
            <div class="mega-menu__image-wrapper">
              {%- if mega_menu_block.settings.image_7_svg == 'piggies_t_cages' -%}
                {%- render 'icon-piggies_t_cages' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'piggies_b_cages' -%}
                {%- render 'icon-piggies_b_cages' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'piggies_w_cages' -%}
                {%- render 'icon-piggies_w_cages' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'piggies_c_supplies' -%}
                {%- render 'icon-piggies_c_supplies' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'piggies_f_linears' -%}
                {%- render 'icon-piggies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'piggies_accessaries' -%}
                {%- render 'icon-piggies_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'piggies_w_accessaries' -%}
                {%- render 'icon-piggies_w_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'piggies_o_pen' -%}
                {%- render 'icon-piggies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'piggies_c_cages' -%}
                {%- render 'icon-piggies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'piggies_food' -%}
                {%- render 'icon-piggies_food' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'piggies_grooming' -%}
                {%- render 'icon-piggies_grooming' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'bunnies_c_cages' -%}
                {%- render 'icon-bunnies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'bunnies_f_linears' -%}
                {%- render 'icon-bunnies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'bunnies_f_accessaries' -%}
                {%- render 'icon-bunnies_f_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'bunnies_food' -%}
                {%- render 'icon-bunnies_food' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'bunnies_o_pen' -%}
                {%- render 'icon-bunnies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'care_piggies' -%}
                {%- render 'icon-care_piggies' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'care_bunnies' -%}
                {%- render 'icon-care_bunnies' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'resource_vets' -%}
                {%- render 'icon-resource_vets' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'resource_boarding' -%}
                {%- render 'icon-resource_boarding' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'resource_rescue_list' -%}
                {%- render 'icon-resource_rescue_list' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'resource_care_sheet' -%}
                {%- render 'icon-resource_care_sheet' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'resource_games' -%}
                {%- render 'icon-resource_games' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'resource_videos' -%}
                {%- render 'icon-resource_videos' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'krew_meet' -%}
                {%- render 'icon-krew_meet' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'krew_story' -%}
                {%- render 'icon-krew_story' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'krew_about' -%}
                {%- render 'icon-krew_about' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'christmas' -%}
                {%- render 'icon-christmas_kart' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'winter_wonderland' -%}
                {%- render 'icon-nav-christmas' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == 'cheery_christmas' -%}
                {%- render 'icon-christmas_sack' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == '20_under' -%}
                {%- render 'icon-20_under' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == '50_under' -%}
                {%- render 'icon-50_under' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == '100_under' -%}
                {%- render 'icon-100_under' -%}
              {%- elsif mega_menu_block.settings.image_7_svg == '100_over' -%}
                {%- render 'icon-100_over' -%}
              {%- endif -%}
            </div>
  
            <span class="mega-menu__image-heading heading h4">{{ mega_menu_block.settings.image_7_heading | escape }}</span>
          </a>
        {%- endif -%}

        {%- if mega_menu_block.settings.image_8_heading != blank -%}
          <a href="{{ mega_menu_block.settings.image_8_link | default: '#' }}" class="mega-menu__promo">
            <div class="mega-menu__image-wrapper">
              {%- if mega_menu_block.settings.image_8_svg == 'piggies_t_cages' -%}
                {%- render 'icon-piggies_t_cages' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'piggies_b_cages' -%}
                {%- render 'icon-piggies_b_cages' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'piggies_w_cages' -%}
                {%- render 'icon-piggies_w_cages' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'piggies_c_supplies' -%}
                {%- render 'icon-piggies_c_supplies' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'piggies_f_linears' -%}
                {%- render 'icon-piggies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'piggies_accessaries' -%}
                {%- render 'icon-piggies_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'piggies_w_accessaries' -%}
                {%- render 'icon-piggies_w_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'piggies_o_pen' -%}
                {%- render 'icon-piggies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'piggies_c_cages' -%}
                {%- render 'icon-piggies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'piggies_food' -%}
                {%- render 'icon-piggies_food' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'piggies_grooming' -%}
                {%- render 'icon-piggies_grooming' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'bunnies_c_cages' -%}
                {%- render 'icon-bunnies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'bunnies_f_linears' -%}
                {%- render 'icon-bunnies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'bunnies_f_accessaries' -%}
                {%- render 'icon-bunnies_f_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'bunnies_food' -%}
                {%- render 'icon-bunnies_food' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'bunnies_o_pen' -%}
                {%- render 'icon-bunnies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'care_piggies' -%}
                {%- render 'icon-care_piggies' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'care_bunnies' -%}
                {%- render 'icon-care_bunnies' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'resource_vets' -%}
                {%- render 'icon-resource_vets' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'resource_boarding' -%}
                {%- render 'icon-resource_boarding' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'resource_rescue_list' -%}
                {%- render 'icon-resource_rescue_list' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'resource_care_sheet' -%}
                {%- render 'icon-resource_care_sheet' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'resource_games' -%}
                {%- render 'icon-resource_games' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'resource_videos' -%}
                {%- render 'icon-resource_videos' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'krew_meet' -%}
                {%- render 'icon-krew_meet' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'krew_story' -%}
                {%- render 'icon-krew_story' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'krew_about' -%}
                {%- render 'icon-krew_about' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'christmas' -%}
                {%- render 'icon-christmas_kart' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'winter_wonderland' -%}
                {%- render 'icon-nav-christmas' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == 'cheery_christmas' -%}
                {%- render 'icon-christmas_sack' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == '20_under' -%}
                {%- render 'icon-20_under' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == '50_under' -%}
                {%- render 'icon-50_under' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == '100_under' -%}
                {%- render 'icon-100_under' -%}
              {%- elsif mega_menu_block.settings.image_8_svg == '100_over' -%}
                {%- render 'icon-100_over' -%}
              {%- endif -%}
            </div>
  
            <span class="mega-menu__image-heading heading h4">{{ mega_menu_block.settings.image_8_heading | escape }}</span>
          </a>
        {%- endif -%}

        {%- if mega_menu_block.settings.image_9_heading != blank -%}
          <a href="{{ mega_menu_block.settings.image_9_link | default: '#' }}" class="mega-menu__promo">
            <div class="mega-menu__image-wrapper">
              {%- if mega_menu_block.settings.image_9_svg == 'piggies_t_cages' -%}
                {%- render 'icon-piggies_t_cages' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'piggies_b_cages' -%}
                {%- render 'icon-piggies_b_cages' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'piggies_w_cages' -%}
                {%- render 'icon-piggies_w_cages' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'piggies_c_supplies' -%}
                {%- render 'icon-piggies_c_supplies' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'piggies_f_linears' -%}
                {%- render 'icon-piggies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'piggies_accessaries' -%}
                {%- render 'icon-piggies_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'piggies_w_accessaries' -%}
                {%- render 'icon-piggies_w_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'piggies_o_pen' -%}
                {%- render 'icon-piggies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'piggies_c_cages' -%}
                {%- render 'icon-piggies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'piggies_food' -%}
                {%- render 'icon-piggies_food' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'piggies_grooming' -%}
                {%- render 'icon-piggies_grooming' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'bunnies_c_cages' -%}
                {%- render 'icon-bunnies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'bunnies_f_linears' -%}
                {%- render 'icon-bunnies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'bunnies_f_accessaries' -%}
                {%- render 'icon-bunnies_f_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'bunnies_food' -%}
                {%- render 'icon-bunnies_food' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'bunnies_o_pen' -%}
                {%- render 'icon-bunnies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'care_piggies' -%}
                {%- render 'icon-care_piggies' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'care_bunnies' -%}
                {%- render 'icon-care_bunnies' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'resource_vets' -%}
                {%- render 'icon-resource_vets' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'resource_boarding' -%}
                {%- render 'icon-resource_boarding' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'resource_rescue_list' -%}
                {%- render 'icon-resource_rescue_list' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'resource_care_sheet' -%}
                {%- render 'icon-resource_care_sheet' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'resource_games' -%}
                {%- render 'icon-resource_games' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'resource_videos' -%}
                {%- render 'icon-resource_videos' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'krew_meet' -%}
                {%- render 'icon-krew_meet' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'krew_story' -%}
                {%- render 'icon-krew_story' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'krew_about' -%}
                {%- render 'icon-krew_about' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'christmas' -%}
                {%- render 'icon-christmas_kart' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'winter_wonderland' -%}
                {%- render 'icon-nav-christmas' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == 'cheery_christmas' -%}
                {%- render 'icon-christmas_sack' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == '20_under' -%}
                {%- render 'icon-20_under' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == '50_under' -%}
                {%- render 'icon-50_under' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == '100_under' -%}
                {%- render 'icon-100_under' -%}
              {%- elsif mega_menu_block.settings.image_9_svg == '100_over' -%}
                {%- render 'icon-100_over' -%}
              {%- endif -%}
            </div>
  
            <span class="mega-menu__image-heading heading h4">{{ mega_menu_block.settings.image_9_heading | escape }}</span>
          </a>
        {%- endif -%}

        {%- if mega_menu_block.settings.image_10_heading != blank -%}
          <a href="{{ mega_menu_block.settings.image_10_link | default: '#' }}" class="mega-menu__promo">
            <div class="mega-menu__image-wrapper">
              {%- if mega_menu_block.settings.image_10_svg == 'piggies_t_cages' -%}
                {%- render 'icon-piggies_t_cages' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'piggies_b_cages' -%}
                {%- render 'icon-piggies_b_cages' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'piggies_w_cages' -%}
                {%- render 'icon-piggies_w_cages' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'piggies_c_supplies' -%}
                {%- render 'icon-piggies_c_supplies' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'piggies_f_linears' -%}
                {%- render 'icon-piggies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'piggies_accessaries' -%}
                {%- render 'icon-piggies_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'piggies_w_accessaries' -%}
                {%- render 'icon-piggies_w_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'piggies_o_pen' -%}
                {%- render 'icon-piggies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'piggies_c_cages' -%}
                {%- render 'icon-piggies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'piggies_food' -%}
                {%- render 'icon-piggies_food' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'piggies_grooming' -%}
                {%- render 'icon-piggies_grooming' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'bunnies_c_cages' -%}
                {%- render 'icon-bunnies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'bunnies_f_linears' -%}
                {%- render 'icon-bunnies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'bunnies_f_accessaries' -%}
                {%- render 'icon-bunnies_f_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'bunnies_food' -%}
                {%- render 'icon-bunnies_food' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'bunnies_o_pen' -%}
                {%- render 'icon-bunnies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'care_piggies' -%}
                {%- render 'icon-care_piggies' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'care_bunnies' -%}
                {%- render 'icon-care_bunnies' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'resource_vets' -%}
                {%- render 'icon-resource_vets' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'resource_boarding' -%}
                {%- render 'icon-resource_boarding' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'resource_rescue_list' -%}
                {%- render 'icon-resource_rescue_list' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'resource_care_sheet' -%}
                {%- render 'icon-resource_care_sheet' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'resource_games' -%}
                {%- render 'icon-resource_games' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'resource_videos' -%}
                {%- render 'icon-resource_videos' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'krew_meet' -%}
                {%- render 'icon-krew_meet' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'krew_story' -%}
                {%- render 'icon-krew_story' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'krew_about' -%}
                {%- render 'icon-krew_about' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'christmas' -%}
                {%- render 'icon-christmas_kart' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'winter_wonderland' -%}
                {%- render 'icon-nav-christmas' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == 'cheery_christmas' -%}
                {%- render 'icon-christmas_sack' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == '20_under' -%}
                {%- render 'icon-20_under' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == '50_under' -%}
                {%- render 'icon-50_under' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == '100_under' -%}
                {%- render 'icon-100_under' -%}
              {%- elsif mega_menu_block.settings.image_10_svg == '100_over' -%}
                {%- render 'icon-100_over' -%}
              {%- endif -%}
            </div>
  
            <span class="mega-menu__image-heading heading h4">{{ mega_menu_block.settings.image_10_heading | escape }}</span>
          </a>
        {%- endif -%}

        {%- if mega_menu_block.settings.image_11_heading != blank -%}
          <a href="{{ mega_menu_block.settings.image_11_link | default: '#' }}" class="mega-menu__promo">
            <div class="mega-menu__image-wrapper">
              {%- if mega_menu_block.settings.image_11_svg == 'piggies_t_cages' -%}
                {%- render 'icon-piggies_t_cages' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'piggies_b_cages' -%}
                {%- render 'icon-piggies_b_cages' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'piggies_w_cages' -%}
                {%- render 'icon-piggies_w_cages' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'piggies_c_supplies' -%}
                {%- render 'icon-piggies_c_supplies' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'piggies_f_linears' -%}
                {%- render 'icon-piggies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'piggies_accessaries' -%}
                {%- render 'icon-piggies_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'piggies_w_accessaries' -%}
                {%- render 'icon-piggies_w_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'piggies_o_pen' -%}
                {%- render 'icon-piggies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'piggies_c_cages' -%}
                {%- render 'icon-piggies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'piggies_food' -%}
                {%- render 'icon-piggies_food' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'piggies_grooming' -%}
                {%- render 'icon-piggies_grooming' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'bunnies_c_cages' -%}
                {%- render 'icon-bunnies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'bunnies_f_linears' -%}
                {%- render 'icon-bunnies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'bunnies_f_accessaries' -%}
                {%- render 'icon-bunnies_f_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'bunnies_food' -%}
                {%- render 'icon-bunnies_food' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'bunnies_o_pen' -%}
                {%- render 'icon-bunnies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'care_piggies' -%}
                {%- render 'icon-care_piggies' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'care_bunnies' -%}
                {%- render 'icon-care_bunnies' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'resource_vets' -%}
                {%- render 'icon-resource_vets' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'resource_boarding' -%}
                {%- render 'icon-resource_boarding' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'resource_rescue_list' -%}
                {%- render 'icon-resource_rescue_list' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'resource_care_sheet' -%}
                {%- render 'icon-resource_care_sheet' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'resource_games' -%}
                {%- render 'icon-resource_games' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'resource_videos' -%}
                {%- render 'icon-resource_videos' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'krew_meet' -%}
                {%- render 'icon-krew_meet' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'krew_story' -%}
                {%- render 'icon-krew_story' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'krew_about' -%}
                {%- render 'icon-krew_about' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'christmas' -%}
                {%- render 'icon-christmas_kart' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'winter_wonderland' -%}
                {%- render 'icon-nav-christmas' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == 'cheery_christmas' -%}
                {%- render 'icon-christmas_sack' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == '20_under' -%}
                {%- render 'icon-20_under' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == '50_under' -%}
                {%- render 'icon-50_under' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == '100_under' -%}
                {%- render 'icon-100_under' -%}
              {%- elsif mega_menu_block.settings.image_11_svg == '100_over' -%}
                {%- render 'icon-100_over' -%}
              {%- endif -%}
            </div>
  
            <span class="mega-menu__image-heading heading h4">{{ mega_menu_block.settings.image_11_heading | escape }}</span>
          </a>
        {%- endif -%}

        {%- if mega_menu_block.settings.image_12_heading != blank -%}
          <a href="{{ mega_menu_block.settings.image_12_link | default: '#' }}" class="mega-menu__promo">
            <div class="mega-menu__image-wrapper">
              {%- if mega_menu_block.settings.image_12_svg == 'piggies_t_cages' -%}
                {%- render 'icon-piggies_t_cages' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'piggies_b_cages' -%}
                {%- render 'icon-piggies_b_cages' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'piggies_w_cages' -%}
                {%- render 'icon-piggies_w_cages' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'piggies_c_supplies' -%}
                {%- render 'icon-piggies_c_supplies' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'piggies_f_linears' -%}
                {%- render 'icon-piggies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'piggies_accessaries' -%}
                {%- render 'icon-piggies_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'piggies_w_accessaries' -%}
                {%- render 'icon-piggies_w_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'piggies_o_pen' -%}
                {%- render 'icon-piggies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'piggies_c_cages' -%}
                {%- render 'icon-piggies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'piggies_food' -%}
                {%- render 'icon-piggies_food' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'piggies_grooming' -%}
                {%- render 'icon-piggies_grooming' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'bunnies_c_cages' -%}
                {%- render 'icon-bunnies_c_cages' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'bunnies_f_linears' -%}
                {%- render 'icon-bunnies_f_linears' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'bunnies_f_accessaries' -%}
                {%- render 'icon-bunnies_f_accessaries' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'bunnies_food' -%}
                {%- render 'icon-bunnies_food' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'bunnies_o_pen' -%}
                {%- render 'icon-bunnies_o_pen' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'care_piggies' -%}
                {%- render 'icon-care_piggies' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'care_bunnies' -%}
                {%- render 'icon-care_bunnies' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'resource_vets' -%}
                {%- render 'icon-resource_vets' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'resource_boarding' -%}
                {%- render 'icon-resource_boarding' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'resource_rescue_list' -%}
                {%- render 'icon-resource_rescue_list' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'resource_care_sheet' -%}
                {%- render 'icon-resource_care_sheet' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'resource_games' -%}
                {%- render 'icon-resource_games' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'resource_videos' -%}
                {%- render 'icon-resource_videos' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'krew_meet' -%}
                {%- render 'icon-krew_meet' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'krew_story' -%}
                {%- render 'icon-krew_story' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'krew_about' -%}
                {%- render 'icon-krew_about' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'christmas' -%}
                {%- render 'icon-christmas_kart' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'winter_wonderland' -%}
                {%- render 'icon-nav-christmas' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == 'cheery_christmas' -%}
                {%- render 'icon-christmas_sack' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == '20_under' -%}
                {%- render 'icon-20_under' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == '50_under' -%}
                {%- render 'icon-50_under' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == '100_under' -%}
                {%- render 'icon-100_under' -%}
              {%- elsif mega_menu_block.settings.image_12_svg == '100_over' -%}
                {%- render 'icon-100_over' -%}
              {%- endif -%}
            </div>
  
            <span class="mega-menu__image-heading heading h4">{{ mega_menu_block.settings.image_12_heading | escape }}</span>
          </a>
        {%- endif -%}
      </div>

      {% if mega_menu.title == 'Boutique pour cochons dInde' %}
        <div class="mega-menu__featured-image">
          <span class="nav-icon">{%- render 'icon-nav-piggies' -%}</span>
        </div>
      {% elsif mega_menu.title == 'Boutique pour lapins' %}
        <div class="mega-menu__featured-image">
          <span class="nav-icon">{%- render 'icon-nav-bunnies' -%}</span>
        </div>
      {% elsif mega_menu.title == 'Ressources gratuites' %}
        <div class="mega-menu__featured-image">
          <span class="nav-icon">{%- render 'icon-nav-resources' -%}</span>
        </div>
      {% elsif mega_menu.title == 'Rencontrez lKipe !' %}
        <div class="mega-menu__featured-image">
          <span class="nav-icon">{%- render 'icon-nav-krew' -%}</span>
        </div>
      {% elsif mega_menu.title == 'Nol' %}
        <div class="mega-menu__featured-image">
          <span class="nav-icon">{%- render 'icon-nav-christmas' -%}</span>
        </div>
      {%- elsif mega_menu_block.settings.menu_featured_image != blank -%}
        <div class="mega-menu__featured-image">
          {{ mega_menu_block.settings.menu_featured_image | image_url: width: 200| image_tag: widths: '220, 320, 420, 440, 520, 640, 840, 1040', sizes: '(max-width: 320px) 220px,(max-width: 520px) 320px,(max-width: 620px) 420px,(max-width: 720px) 520px,(max-width: 820px) 420px,(max-width: 1120px) 520px,(max-width: 1220px) 420px, 320px' }}
        </div>
      {%- endif -%}
      </div>
    {% endif %}
  {%- endcapture -%}

  {%- if is_condensed -%}
    {{- mega_menu_inner -}}
  {%- else -%}
    <div class="container">
      {{- mega_menu_inner -}}
    </div>
  {%- endif -%}
</div>